<%- include("header"); -%>

<!-- navbar -->



<!-- body -->

<div class="container-fluid" id="topContainer">
  <div class='row'>
    <div class='col-sm-2'>
      <img class='tilda' src="/images/tilda.png">
    </div>
  </div>
  <!-- <div class="row">
    <img class='col-sm-3' src="/images/dots1.png" id="dottie">
  </div> -->

  <div class='row'>
    <div class='offset-sm-9 col-sm-3'>
      <img data-sal="zoom-in" class='squiggle' src="/images/squiggle.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2" id="texts" >
      <h1> Welcome to Get Baked. <br> A Dating App for Like Minded Carbohydrates. </h1>
      <h4 id="typer"> </h4>
      <!-- <h1>It's Time. Time to Get Baked. </h1>
      <p>Sign up for the sweetest experience of your life. Meet other cakes and cookies locally and globally.</p> -->
      <span id="typed"></span>
    </div>
    <button class="btn btn-primary btn-lg col-sm-4 offset-sm-4" href="https://www.figma.com/proto/2IVtmVFLaatiOUUnMda6aO/Icing-Apps?scaling=scale-down&node-id=22%3A49">  Download App </button>

  </div>
</div>

<div class='container' id="phoneImages">

  <div class="row">
    <img class=" col-sm-4" src="/images/bg2.png" id="imgOne">
    <img class="col-sm-4" src="/images/bg1.png" id="imgTwo">
    <img class="col-sm-4" src="/images/bg3.png" id="imgThree">
  </div>

  <div class='row'>
    <div class='offset-sm-11 col-sm-1'>
      <img class='squiggle2' src="/images/dots.png">
    </div>
  </div>
</div>

<div class="container" id="salespitch">
  <div class='row'>
    <div class='col-sm-3'>
      <img class='orange' src="/images/orange.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2" id="copy">
      <h2> I'm not going to sugar coat it. <br> Finding other like minded sugar freaks is hard. </h2>
      <p> But we are get baked understand the pavlovian response to seeing a box of dominos sugar cubes.</p>
    </div>
  </div>
  <div class="row">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> We Recommend Great Local Bakeries </h2>
        </div>
        <div class="card-body">
          <p> Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love.</p>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> No Sugar Free People Allowed. Just to keep our community safe. </h2>
        </div>
        <div class="card-body">
          <p> Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love.</p>

        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">We Recommend Great Local Bakeries </h2>
        </div>
        <div class="card-body">
          <p> Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love.</p>

        </div>
      </div>

    </div>
  </div>
</div>



<div class="container-fluid" id="closingArgs">
  <div class="row">
    <img class='col-sm-3' src="/images/dots1.png" id="dottie">
  </div>

  <div class="row" id="copyimage">
    <div class="offset-md-1 col-md-4">
      <h2>  The first batch was too soft, the second too chewy. Dating cookies is hard work. </h2>
      <p> Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love. Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love. Made from pure cane sugar, it works cup-for-cup just like white sugar, but has a beautiful golden color and a distinct hint of molasses flavor you’re sure to love.</p>

      <a href="https://www.figma.com/proto/2IVtmVFLaatiOUUnMda6aO/Icing-Apps?scaling=scale-down&node-id=22%3A49"><button class="btn btn-primary btn-lg"> Download Now </button> </a>
    </div>
    <img class="col-md-3" src="/images/logon.png" id="imgFour">
    <img class="col-md-3" src="/images/success.png" id="imgFive">

  </div>

</div>

<!--  -->

<footer class="footer">
  <div class="container-fluid">
    <span class="text-muted"> This is very much a fake idea by a individudal who delights in asburd ideas but if you want to become an angel investor hmu.</span>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js'></script>
<script src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>

  window.sr = ScrollReveal({
    reset: true
  });

  var typed = new Typed('#typer', {
    strings: [
      'Tofu tattooed twee tilde skateboard, typewriter mixtape single-origin coffee yuccie helvetica snackwave cornhole try-hard. Copper mug pinterest truffaut you probably haven',
      'Do you have a sweet tooth?',
      'Are you looking to meet other confections?',
      'Do you dream in sprinkles?',
        "If yes, it's time to get baked"
    ],
    stringsElement: null,
    typeSpeed:15,
    startDelay: 500,
    showCursor: false
  });

  sr.reveal('img', {
    delay: 2000
  });


  sr.reveal('#salespitch', {
    delay: 1000
  });

  sr.reveal('#imgOne', {
    delay: 1000,
    duration: 500,
    opacity:0
  });

  sr.reveal('#imgTwo', {
    delay: 2000,
    duration: 500
  });

  sr.reveal('#imgThree', {
    delay: 3300,
    duration: 500
  });

  sr.reveal('#imgFour', {
    delay: 2000,
    duration: 500
  });

  sr.reveal('#imgFive', {
    delay: 1000,
    duration: 500
  });
</script>

</body>

</html>
